{% extends 'BibleWormSiteBundle:Default:layout.html.twig' %}

{% block title %}{{ slug|title }}{% endblock %}

{% block body %}
    <p>“I revealed myself to those who did not ask for me;<br>
       I was found by those who did not seek me.<br>
    To a nation that did not call on my name,<br>
       I said, ‘Here am I, here am I.’<br>
       &ndash;Isaiah 65:1</p>
{% endblock %}