<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} - BibleWorm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Andrew Gruner">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<script src="/js/modernizr-2.0.6.min.js"></script>-->
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1148307-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body">
    <div class="container">
        <header id="hd">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        {% block hd %}
                            <h1><a href="{{ path('bw_site_home') }}" class="brand">BibleWorm</a></h1>
                            <ul class="nav" role=main-navigation>
                                <li><a href="{{ url('bw_site_home') }}">Tools</a></li>
                                <li><a href="{{ url('bw_mobile_homepage') }}">Mobile</a></li>
                                <li><a href="{{ url('bw_site_page', {'slug': 'about'}) }}">About</a></li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>
        <div role="main">
            {% block body %}{% endblock %}
        </div>
    </div><!--/#container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="/js/app.js"></script>
</body>
</html>
