{% extends 'BibleWormMobileBundle:ReadingPlan:index.html.twig' %}

{% block header %}
    <a href="{{ url('BibleWormMobileBundle_getReadingPlan') }}" data-role="button" data-icon="arrow-l" data-direction="reverse">Back to Plan</a>
    {{ parent() }}
{% endblock %}

{% block body %}
{% endblock %}