{% extends 'BibleWormMobileBundle:ReadingPlan:index.html.twig' %}

{% block header %}
    <a href="{{ url('bw_get_reading_plan') }}" data-role="button" data-icon="arrow-l" data-direction="reverse">Back to Plan</a>
    {{ parent() }}
{% endblock %}

{% block body %}
    <p>options</p>
{% endblock %}